In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [2]:
data = pd.read_csv('diabetes.csv',nrows=19000) 
data.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19000 entries, 0 to 18999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_012          19000 non-null  float64
 1   HighBP                19000 non-null  float64
 2   HighChol              19000 non-null  float64
 3   CholCheck             19000 non-null  float64
 4   BMI                   19000 non-null  float64
 5   Smoker                19000 non-null  float64
 6   Stroke                19000 non-null  float64
 7   HeartDiseaseorAttack  19000 non-null  float64
 8   PhysActivity          19000 non-null  float64
 9   Fruits                19000 non-null  float64
 10  Veggies               19000 non-null  float64
 11  HvyAlcoholConsump     19000 non-null  float64
 12  AnyHealthcare         19000 non-null  float64
 13  NoDocbcCost           19000 non-null  float64
 14  GenHlth               19000 non-null  float64
 15  MentHlth              19000 non-null  float64
 16  PhysHlth              19000 non-null  float64
 17  DiffWalk              19000 non-null  float64
 18  Sex                   19000 non-null  float64
 19  Age                   19000 non-null  float64
 20  Education             19000 non-null  float64
 21  Income                19000 non-null  float64
dtypes: float64(22)
memory usage: 3.2 MB

In [4]:
data.isnull().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [5]:
data.columns

Index(['Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [6]:
df = data.drop(['Diabetes_012'],axis=1)
for col in df.columns[0:]: 
    df[col] = df[col]/abs(df[col].max())
X=df.copy()
X.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,1.0,1.0,1.0,0.470588,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.6,0.5,1.0,0.0,0.692308,0.666667,0.375
1,0.0,0.0,0.0,0.294118,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.6,0.0,0.0,0.0,0.0,0.538462,1.000000,0.125
2,1.0,1.0,1.0,0.329412,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.692308,0.666667,1.000
3,1.0,0.0,1.0,0.317647,0.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,0.4,0.0,0.0,0.0,0.0,0.846154,0.500000,0.750
4,1.0,1.0,1.0,0.282353,0.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,0.4,0.1,0.0,0.0,0.0,0.846154,0.833333,0.500

In [7]:
y=data['Diabetes_012']
y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
18995    2.0
18996    0.0
18997    0.0
18998    0.0
18999    0.0
Name: Diabetes_012, Length: 19000, dtype: float64

In [8]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3)

In [9]:
pipeline = make_pipeline(StandardScaler(), LogisticRegression(max_iter=100))
model = pipeline.fit(X_train,y_train)

In [10]:
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.8343859649122807